h1{
   background: -webkit-linear-gradient(rgb(18, 19, 18), rgb(34, 146, 127),rgb(196, 7, 7));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: xx-large;
}

input{
  border: none;
  outline: none;
  border-bottom: 2px solid #4657;
  padding-inline-start: 3%;
  
}


.contenedor-padre{
  display: flex;
  align-items: center;
  
}